* {
  box-sizing: border-box;
}
body{
  font-size: 14px;
  background: linear-gradient(rgba(255,255,255,1), rgba(11,147,0,1));
  opacity: 1;
  position: relative;
  width:100%;
  height:100%;
  margin:0;
  overflow-y: scroll;
}
.head-bg {
  width: 100%;
  height: 154px;
  background: rgba(34,110,0,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
}
.title {
  width: 100%;
  color: rgba(249,242,0,1);
  position: absolute;
  top: 52px;
  font-family: Ultra;
  font-weight: normal;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: red;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.textboxthing{
  height:50%;
  margin-top:15%;
}
.text {
  width: 100%;
  color: rgba(20,92,8);
  font-family: Ultra;
  font-size: 24px;
  text-align: center;
}

.pic {
  width: 100%;
  height: 275px;
  background: url("v1_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 455px;
}
.cover {
  width: 100%;
  height: 275px;
  background: rgba(36,157,0,0.43);
  opacity: 1;
  position: absolute;
  top: 455px;
}

.line1{
  width: 100%;
  height: 16px;
  background: rgba(0,0,0,0.43);
  opacity: 1;
  position: absolute;
  top: 455px;
}

.line2 {
  width: 100%;
  height: 16px;
  background: rgba(0,0,0,0.43);
  opacity: 1;
  position: absolute;
  top: 730px;
}

.message {
  text-align:center;
  color: rgba(249,242,0,1);
  position: absolute;
  font-family: Ultra;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  top:500px;
  text-align: center;
}
.container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100px; 
 margin-bottom:10%;
}
.footer {
  width: 167px;
  color: rgba(249,242,0,1);
  position: absolute;
  top: 785px;
  font-family: Ultra;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
